@{
    Layout = null;
}
@model IEnumerable<WFManagementFinalProject.Models.WFMember>
<style>
    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        background: linear-gradient(45deg, #49a09d, #5f2c82);
        font-family: sans-serif;
        font-weight: 100;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    table {
        width: 800px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    th,
    td {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        color: #fff;
    }

    th {
        text-align: left;
    }

    thead,
    th {
        background-color: #55608f;
    }



    tbody,
    tr,
    &:hover {
        background-color: rgba(255,255,255,0.3);
    }

    td, &:hover, &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.2);
        z-index: -1;
    }

    td {
        position: relative;
    }
</style>
<h3 class="heading" style="margin-top: 100px; margin-left: 576px;color:white"><b> WELCOME ROBIN </b></h3>

<table class='table' style="margin-left: 300px; margin-top: 30px;">

    <tr>
        <th> EmpId </th>
        <th> Requestee </th>
        <th> RequestedDate </th>
        <th> EmployeeManager </th>
        <th> RequestMessage </th>
        <th> View  </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.EmpId </td>
            <td> @item.Requestee </td>
            <td> @item.RequestedDate </td>
            <td> @item.EmployeeManager </td>
            <td> @item.RequestMessage </td>
            <td><a asp-action="GetDetailOfId" asp-route-id="@item.EmpId"> View Details </a></td>

        </tr>
    }



</table>